html
  head
    title LIB Browse


body
  a(href='http://localhost:3000/') Back
  h1 Welcome to Look Inna Book
  h2 Browse our incredible selection of books!

  if(user)
    p="Logged in as: " + user
    a(href="http://localhost:3000/cart") View Cart
    br
    br
    a(href="http://localhost:3000/purchase") View Purchases
    br
    br
    a(href='http://localhost:3000/logout') Logout
    br

  h3 Browse by:
  form(action="/browse", method="post")
    select#category(name="searchOption")
      option(name="title")="Title"
      option(name="author")="Author"
      option(name="isbn")="ISBN"
      option(name="genre")="Genre"
      option(name="publisher")="Publisher"
      option(name="rating")="Rating"
      option(name="price")="Max Price"
      option(name="minprice")="Min Price"
      option(name="maxPages")="Max No. of Pages"
    input(type="text", name="search")
    button(type="submit")="Search"

  br
  if(postbrowse)
    if(searchTitle[0]=="Max Price")
      h3="Search results for "+ searchTitle[0] + ": $"+searchTitle[1]
    else if(searchTitle[0]=='Min Price')
      h3="Search results for "+ searchTitle[0] + ": $"+searchTitle[1]
    else
      h3="Search results for "+ searchTitle[0] + ": "+searchTitle[1]
    if(q.length > 0)
      each result in q
        a(href='http://localhost:3000/browse/'+result.isbn)= result.title + " by " + result.name
        br

  if(!user)
    br
    br
    a(href='http://localhost:3000/login') Login
    br
    br
    a(href='http://localhost:3000/register') Register
