html
  head
    title LIB Publisher Information


body
  a(href='http://localhost:3000/browse') Browse
  h1 Welcome to Look Inna Book

  if(!user)
    a(href='http://localhost:3000/login') Login
    br
    br
    a(href='http://localhost:3000/register') Register
  else
    p="Logged in as: " + user
    a(href="http://localhost:3000/cart") View Cart
    br
    br
    a(href="http://localhost:3000/purchase") View Purchases
    br
    br
    a(href='http://localhost:3000/logout') Logout

  h2="Publisher: " + q[0].name
  h4=q[0].address
  h4=q[0].city+ ", "+q[0].country
  h4="Contact: " + q[0].email
  br
  a(href='http://localhost:3000/browse/publisher/' + q[0].name, style="font-size:18.72px;font-weight:bolder")="Search books published by " + q[0].name
