html
  head
    title LIB Tracking


body
  a(href='http://localhost:3000/browse') Browse
  h1 Welcome to Look Inna Book

  if(!user)
    p="Please login or register to proceed!"
    br
    a(href='http://localhost:3000/login') Login
    br
    br
    a(href='http://localhost:3000/register') Register
  else
    p="Logged in as: " + user
    a(href='http://localhost:3000/logout') Logout
    br
    br
    a(href='http://localhost:3000/purchase') View Purchases
    h3="Tracking Information for order: " + q[0].pid
    p="Tracking ID: " + q[0].tid
    p="Package left warehouse: " + q[0].depart_time + ", " + q[0].depart_date
    p="Estimated Arrival: " + q[0].eta_time + ", " + q[0].eta_date
    p="Current location: " + q[0].current_city + ", " + q[0].current_country
    p="Destination: " + q[0].dest_address+", " + q[0].dest_city +", " + q[0].dest_country
