html
  head
    title LIB Register


body
  a(href='http://localhost:3000/') Back
  h1 Welcome to Look Inna Book
  h2 Your One-stop Shop for All of Your Book Needs!

  if(user)
    p="You are already logged in!"
    a(href="http://localhost:3000/cart") View Cart
    br
    br
    a(href="http://localhost:3000/purchase") View Purchases
    br
    br
    a(href='http://localhost:3000/logout') Logout
  else
    h3 Register
    form(action="/register", method="post")
      p="Username: "
        input(type="text", name="username", required)
        br
      p="Password: "
        input(type="password", name="password", required)
        br
      p="Email: "
        input(type="text", name="email", required)
        br
      p="Confirm Email: "
        input(type="text", name="confirmEmail", required)
        br
      button(type="submit")="Register"

    br
    br
    a(href='http://localhost:3000/login') Login
  br
  br
  a(href='http://localhost:3000/browse') Browse Books
