html
  head
    title LIB Search

body
  a(href='http://localhost:3000/browse') Back

  if(user)
    p="Logged in as: " + user
    a(href="http://localhost:3000/cart") View Cart
    br
    br
    a(href="http://localhost:3000/purchase") View Purchases
    br
    br
    a(href='http://localhost:3000/logout') Logout
    br

  h2=q[0].title
  a(href='http://localhost:3000/author/' + q[0].aid, style="font-size:18.72px;font-weight:bolder")="by " + q[0].name
  if(q[0].subtitle)
    h3=q[0].subtitle
  h4="Price: $" + q[0].price
  if(user)
    form(action="/addcart", method="post")
      input(type="text", name="isbn", value=q[0].isbn, hidden)
      button(type="submit")="Add to Cart"
  if(q[0].description)
    p=q[0].description
  br
  h4="ISBN: " + q[0].isbn
  a(href='http://localhost:3000/publisher/' + q[0].publisher, style="font-size:16px;font-weight:bolder")="Publisher: " + q[0].publisher
  br
  br
  a(href='http://localhost:3000/browse/genre/' + q[0].genre, style="font-size:16px;font-weight:bolder")="Genre: " + q[0].genre
  h4="Rating: " + q[0].rating + " / 5"
  h4="Number of pages: " + q[0].num_pages
  if(q[0].lang == 'eng')
    h4="Language: English"
  if(q[0].stock > 0)
    h4="Available for purchase"



  if(!user)
    br
    br
    a(href='http://localhost:3000/login') Login
    br
    br
    a(href='http://localhost:3000/register') Register
